<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-fingerprint-aio" version="5.0.1">
  <name>FingerprintAllInOne</name>
  <description>Cordova plugin to use fingerprint on Android and iOS</description>
  <license>MIT</license>
  <keywords>cordova,plugin,android,fingerprint,authentication,ios</keywords>
  <repo>https://github.com/niklasmerz/cordova-plugin-fingerprint-aio.git</repo>
  <issue>https://github.com/cordova-plugin-fingerprint-aio/issues</issue>

  <js-module src="www/Fingerprint.js" name="Fingerprint">
    <clobbers target="Fingerprint"/>
  </js-module>


  <!-- ios -->
  <platform name="ios">
    <header-file src="src/ios/Bridging-Header.h" type="BridgingHeader"/>
    <source-file src="src/ios/Fingerprint.swift"/>
    <config-file target="config.xml" parent="/*">
      <feature name="Fingerprint">
        <param name="ios-package" value="Fingerprint"/>
      </feature>
    </config-file>

    <!-- Usage description of Face ID for iOS 11+ -->
    <preference name="FACEID_USAGE_DESCRIPTION" default=" "/>
    <config-file target="*-Info.plist" parent="NSFaceIDUsageDescription">
      <string>$FACEID_USAGE_DESCRIPTION</string>
    </config-file>
  </platform>

  <!-- android -->
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <platform name="android">
        <preference name="AndroidXEnabled" value="true"/>
      </platform>
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Fingerprint">
        <param name="android-package" value="de.niklasmerz.cordova.biometric.Fingerprint"/>
      </feature>
    </config-file>
    
    <config-file target="AndroidManifest.xml" parent="/*">
	  <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
      <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="application">
      <activity android:name="de.niklasmerz.cordova.biometric.BiometricActivity" android:theme="@style/TransparentTheme" android:exported="false"/>
    </config-file>
    
    <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
    <resource-file src="src/android/res/biometric_activity.xml" target="res/layout/biometric_activity.xml"/>
    <resource-file src="src/android/res/styles.xml" target="res/values/biometric-styles.xml"/>
    <source-file src="src/android/PromptInfo.java" target-dir="src/de/niklasmerz/cordova/biometric"/>
    <source-file src="src/android/BiometricActivity.java" target-dir="src/de/niklasmerz/cordova/biometric"/>
    <source-file src="src/android/BiometricActivityType.java" target-dir="src/de/niklasmerz/cordova/biometric"/>
    <source-file src="src/android/Fingerprint.java" target-dir="src/de/niklasmerz/cordova/biometric"/>
    <source-file src="src/android/PluginError.java" target-dir="src/de/niklasmerz/cordova/biometric"/>
    <source-file src="src/android/Args.java" target-dir="src/de/niklasmerz/cordova/biometric"/>
    <source-file src="src/android/CryptographyManager.java" target-dir="src/de/niklasmerz/cordova/biometric"/>
    <source-file src="src/android/CryptographyManagerImpl.java" target-dir="src/de/niklasmerz/cordova/biometric"/>
    <source-file src="src/android/EncryptedData.java" target-dir="src/de/niklasmerz/cordova/biometric"/>
    <source-file src="src/android/CryptoException.java" target-dir="src/de/niklasmerz/cordova/biometric"/>
    <source-file src="src/android/KeyInvalidatedException.java" target-dir="src/de/niklasmerz/cordova/biometric"/>
  </platform>

  <engines>
    <engine name="cordova-android" version=">=9.0.0"/>
  </engines>

</plugin>
